.section-navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 1000;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px;

        &__logo{
            a {
                color:rgb(34, 214, 34);
                text-decoration: none;
                font-size: 22px;
            }
        }
        
        .links {
            display: flex;
        
            &__link{
                a{
                    font-family: $arial;
                    color:rgb(231, 31, 97);
                    text-decoration: none;
                    font-size: 16px;
                    margin: 0 12.5px;
                }
            }
        }
     
     }
    
}
 