body, html {
  overflow-x: hidden;
  margin: 0;
}
.section-navbar {
  width: 100%;
  background-color: #FFCACA;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.section-navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
}

.section-navbar-wrapper__logo a {
  color: rgb(31, 110, 179);
  text-decoration: none;
  font-size: 30px;
}

.section-navbar-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-navbar-wrapper__logo{
  font-family: "Indie Flower";
 
  
}
.section-navbar-wrapper .links__link a {
font-family: "Ruslan Display";
color: rgb(17, 54, 87);
text-decoration: none;
font-size: 16px;
margin: 0 12.5px;
}

#oval {
  margin-top: 75px;
  width: 200px;
height: 100px;
background: #e9337c;
-webkit-border-radius: 100px / 50px;
-moz-border-radius: 100px / 50px;
border-radius: 100px / 50px;
background: #EE6B47;
position: relative;
cursor: grabbing;
}

.section-header {
position: relative;
text-align: center;
background-color: rgba(252, 228, 243, 0.644);
width: 100%;
height: 720px;
opacity: 0.70;

}

.herobox__title1 {
font-family: "Underdog";
font-size: 26px;
margin-left: auto;
  margin-right: auto;
  width: 20em;
  padding: 160px;
}

.table1 {
  position: relative;
 text-align: center;
}


.section-story {
  background-color: beige;
  width: 100%;
  margin: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 30px;

}
.herobox__title2 {   
      text-align: center;
      color:salmon;
}
.herobox__paragraph {
  font-family: "Underdog";
  font-size: 27px;
  
}
.section-contact {
position: relative;
width: 100%;
  background-color: #FFCACA;
  z-index: 1000;
  padding: 10px;
  align-items: flex-start;
 text-align: right;
}
/* .container {
  font-family: "Ruslan Display", cursive;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background: #ffffff; 
} */

/* img{
  max-width: 100%;
} */

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .spiderman {
  width: 300px;
  vertical-align: top;
  margin-top: -60px;
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */
/* 
/* .shadow {
  width: 200px;
  height: 20px;
  margin: 20px 0;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  animation: sombra 2s alternate infinite;
}

@keyframes animar {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes sombra {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
    opacity: 0.2; */
  /* }
} */ 
